body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    overflow-x: hidden;  
    overflow-y: auto; 
    top: 0; 
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #6363b2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

.navbar .logo {
    display: flex;
    align-items: center;
}
.navbar .logo img {
    height: 40px;
    width: 100px;
    margin-right: 10px;  
}
.navbar .logo span {
    font-weight: bold;
    font-size: 24px;
    color: #4a4a4a;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 30px;
}
.navbar .menu {
    display: flex;
    align-items: center;
}
.navbar .menu a {
    font-weight: bold;
    color: #4a4a4a;
    text-decoration: none;
    margin: 0 10px; 
    font-size: 16px;
}

.navbar .menu a:hover {
    color: #ffffff; 
    
}

.navbar .menu a.active {
    color: #ffffff;
    font-weight: bold;
}

.navbar .menu .phone {
    display: flex;
    align-items: center;
}
.navbar .menu .phone i {
    margin-right: 5px;
}

.navbar .menu .phone img {
    height: 25px;
    width: 25px;  
}

.navbar .menu .phone span {
    color: #4a4a4a; 
    font-weight: bold;
}

.logout-button {
    font-weight: bold;
    color: #4a4a4a;
    text-decoration: none;
    margin: 0 10px; 
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6363b2;
}

.logout-button:hover {
    color: #ff3333;
}